[Unit]
Description=Holer
After=network.target

[Service]
Type=forking
ExecStart=@HOLER_HOME@/startup.sh
ExecStop=@HOLER_HOME@/shutdown.sh

[Install]
WantedBy=multi-user.target
